<!-- Main launch file for pc that remotely controls the jackal robot -->
<launch>

    <!-- Launching Rviz with mapping configuration (only uncomment when 
    creating the map of the environment) -->
    <!--<include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/rviz/rviz_launch_2d.launch"/>-->

    <!-- Launching Rviz with navigation visualization -->
    <include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/rviz/rviz_launch_nav_2d.launch"/> 

</launch>