<!-- Main launch file for real robot (launch in jackal computer) with a 2D LiDAR -->
<launch>

    <!-- Launch 2D LiDAR to create /scan topic -->
    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch"/>

    <!-- No need to remap since the LiDAR topic is already called scan -->
    <!--<remap from="/front/scan" to="/scan"/>-->

    <!-- Launching ROS Navigation Stack nodes -->
    <!-- Launch gmapping node and move base to generate map of environment -->
    <!-- This is only done one time to generate the map, it should be commented 
    once the map is obtained -->
    <include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/start_mapping_2d_real.launch"/>

    <!-- Static transform to let ROS know the 2D LiDAR position from front_mount -->
    <node pkg="tf" type="static_transform_publisher" name="front_mount_to_lidar" args="0 0 0 3.14159 0 0 /front_mount /laser 100" />

    <!-- Launch map, localization and navigation -->
    <!--<include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/start_navigating_real_2d.launch"/>-->

    <!-- Launch robot_localization package for improved odometry against real life noise -->
    <!-- Jackal robot already contains a running ekf_node using encoders, imu and gps -->
    <!--<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/configs/robot_localization.yaml" />
    </node>-->

</launch>