<!-- Main launch file for real robot (launch in jackal computer) -->
<launch>

    <!-- Launching PCL nodes for PointCloud downsampling and dimension reduction -->
    <include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/pcl/filtering_downsample.launch"/>

    <!-- Might need to add a transformation from the base_link to 3D LiDAR -->

    <!-- Launching PointCloud to LaserScan conversion node -->
    <include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/pcl/point_cloud_to_laser_scan.launch"/>

    <!-- Launching ROS Navigation Stack nodes -->
    <!-- Launch gmapping node and move base to generate map of environment -->
    <!-- This is only done one time to generate the map, it should be commented 
    once the map is obtained -->
    <!--<include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/start_mapping.launch"/>-->

    <!-- Launch map, localization and navigation -->
    <include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/start_navigating_real.launch"/>

    <!-- Launch robot_localization package for improved odometry against real life noise -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/configs/robot_localization.yaml" />
    </node>

</launch>