<!-- Main launch file for real robot (launch in jackal computer) -->
<launch>

    <!-- Add a remap so the topic name matches the one referred to on filtering_downsample.launch -->
    <remap from="/velodyne_points" to="/mid/points"/>

    <!-- Launch 3D LiDAR to create /velodyne_points topic. -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

    <!-- Launching PCL nodes for PointCloud downsampling and dimension reduction -->
    <include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/pcl/filtering_downsample.launch"/>

    <!-- Launching PointCloud to LaserScan conversion node -->
    <include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/pcl/point_cloud_to_laser_scan.launch"/>

    <!-- Launching ROS Navigation Stack nodes -->
    <!-- Launch gmapping node and move base to generate map of environment -->
    <!-- This is only done one time to generate the map, it should be commented 
    once the map is obtained -->
    <!--<include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/start_mapping_real.launch"/>-->

    <!-- Static transform to let ROS know the 3D LiDAR position from base_link -->
    <!-- Given the 3D LiDAR coordinate frame found in the datasheet no yaw rotation is required as opposed to the 2d LiDAR -->
    <node pkg="tf" type="static_transform_publisher" name="front_mount_to_lidar" args="0 0 0 0 0 0 /front_mount /velodyne 100" />

    <!-- Launch map, localization and navigation -->
    <include file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/launch/include/start_navigating_real.launch"/>

    <!-- Launch robot_localization package for improved odometry against real life noise -->
    <!-- Jackal robot already contains a running ekf_node using encoders, imu and gps -->
    <!--<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find jackal_velodyne_vlp16_lidar_ros_nav_stack)/configs/robot_localization.yaml" />
    </node>-->

</launch>